---
layout: default
---

<article class="page">
  <h1>
    {{ page.title }} {%- if page.withPrint -%}
    <button class="print-button" style="margin-left:20px;" onclick="window.print()">
      <i class="fa fa-print"></i>
    </button>

    <style>
      @media print {
        .wrapper-footer,
        .darkmode-toggle,
        .print-button,
        .darkmode-layer,
        .wrapper-masthead {
          display: none;
        }
        body {
          margin: 0;
          padding: 0;
          font-size: 16px;
        }
        #main {
          max-width: 100%;
        }
      }
    </style>

    {%- endif -%}
  </h1>

  <div class="entry">{{ content }}</div>
</article>
